<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpd.irepair">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name="com.rpd.volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadingUpdate" />
        <activity android:name=".AddNewJobActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".OpenJobsPerUserActivity" />
        <activity android:name=".ChatActivity" />

        <!-- Broadcaster Receiver for broadcasting received message to other activities -->
        <receiver android:name="com.rpd.broadcastReceivers.ActivityReceiver">
        </receiver>

        <!-- Broadcast receiver that wakes the service after boot-->
        <receiver android:name="com.rpd.broadcastReceivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- iRepair Background Service-->
        <service android:name="com.rpd.services.BackgroundService" android:enabled="true"/>

    </application>

</manifest>